name: link

on: [push, pull_request]

env:
  OAT_VERSION: "0.21.2"

jobs:
  link-linux:
    name: Link assets on Linux
    runs-on: ubuntu-latest
    container: ubuntu:noble

    steps:
      - name: Check out files
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dpkg --add-architecture i386
          apt-get update
          apt-get -y install libstdc++-13-dev:i386

      - name: Setup OAT
        uses: diamante0018/setup-oat@main
        with:
          version: ${{ env.OAT_VERSION  }}

      - name: Link assets
        run: |
          Linker -v iw4x_localized_english

      - name: Upload mod.ff
        uses: actions/upload-artifact@v4
        with:
          name: assets
          path: |
            zone_out/**/*.ff
