name: link

on: [push, pull_request]

env:
  OAT_VERSION: "0.21.2"

jobs:
  link-linux:
    name: Link assets on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Check out files
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get -y install libstdc++-13-dev:i386

      - name: Setup OAT
        uses: diamante0018/setup-oat@main
        with:
          version: ${{ env.OAT_VERSION  }}

      - name: Link assets
        run: |
          Linker -v iw4x_localized_english
          Linker -v iw4x_localized_russian

      - name: Upload linked assets
        uses: actions/upload-artifact@v4
        with:
          name: assets
          path: |
            zone_out/**/*.ff
