name: Release
on:
  push:
    tags:
      - "*"

env:
  OAT_VERSION: "0.21.2"

jobs:
  create_release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get -y install libstdc++-13-dev:i386

      - name: Setup OAT
        uses: diamante0018/setup-oat@main
        with:
          version: ${{ env.OAT_VERSION  }}

      - name: Link assets
        run: |
          for dir in zone_raw/*/; do
            folder=$(basename "$dir")
            Linker -v "$folder"
          done

      - name: Create ZIP archive
        run: ./scripts/release.sh
 
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          prerelease: false
          draft: true
          files: |
            release.zip
