name: Release

on:
  push:
    tags:
      - "*"

env:
  OAT_VERSION: "0.21.2"

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          allowUpdates: true
          omitBodyDuringUpdate: true

  build-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get -y install libstdc++-13-dev:i386

      - name: Setup OAT
        uses: diamante0018/setup-oat@main
        with:
          version: ${{ env.OAT_VERSION  }}

      - name: Link assets
        run: |
          for dir in zone_raw/*/; do
            folder=$(basename "$dir")
            Linker -v "$folder"
          done

      - name: Create release artifacts
        run: ./scripts/release.sh

      - name: Upload release binaries
        uses: actions/upload-artifact@v4
        with:
          name: rawfiles-release
          path: launcher-files

  release:
    needs:
      - create-release
      - build-artifacts
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: rawfiles-release
          path: launcher-files
      - name: Prepare release tool
        run: |
          wget -O release-tool.tar.gz https://github.com/iw4x/launcher/releases/latest/download/release-tool-x86_64-unknown-linux-gnu.tar.gz
          tar -xvf release-tool.tar.gz
          chmod +x release-tool
      - name: Create release information
        run: ./release-tool ./launcher-files
      - uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          artifacts: "launcher-files/*.zip,launcher-files/**/*.iwd,launcher-files/update.json"
          artifactErrorsFailBuild: true
          allowUpdates: true
          draft: true
          omitBodyDuringUpdate: true
          omitDraftDuringUpdate: true
